<!--
  Generated template for the Favorite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="light">Fav<ion-icon name="heart-outline" color="custom" ></ion-icon>rite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 
  <ion-list inset >
     <ion-grid>
  <ion-item-sliding *ngFor="let recipe of recipes | async">

      <ion-item  *ngIf="recipe.favorite" (click)="detailRecipe(recipe)"  >
        <ion-thumbnail item-left>
              <img src="img/thumbnail-totoro.png">
            </ion-thumbnail>
    <!-- <ion-label >{{recipe.name}}</ion-label> -->
    <h2>{{recipe.name}}</h2>
    <h3 >{{recipe.category}}</h3>
    <p>{{recipe.description}} </p>
</ion-item>


  <ion-item-options>
        <button ion-button color="custom" (click)="removeFav(recipe)" item-right>
        <ion-icon name="md-close"></ion-icon></button>
  </ion-item-options>
    </ion-item-sliding>
      </ion-grid>
    </ion-list>

</ion-content>
