page-contact {
            ion-content{
                        background-image: url('../assets/images/wallpaper2.png') !important;
                        background-size: cover;
                        }
            ion-list{
                            background-color: black!important;
                            opacity: 0.7;
                        }
            ion-navbar{
                        opacity: 0.8;
                    }
            ion-title{
                        opacity: 1;
                    }
           
}
