


<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="restaurant"></ion-icon>Recipe</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>and
</ion-list>
  <ion-label>{{count}}</ion-label>-->

<ion-grid>
  <ion-list inset >
    <!-- Sliding item -->

    <ion-item-sliding *ngFor="let recipe of recipes | async">
      <ion-item (click)="detailRecipe(recipe)">
        <ion-thumbnail item-left>
              <img src="{{recipe.imgName}}">
            </ion-thumbnail>
    <h2 >{{recipe.name}}</h2>
      <ion-icon *ngIf="recipe.favorite" name="heart" color="custom" ></ion-icon>
    <h3 >{{recipe.category}}</h3>
    <p >{{recipe.description}} </p>
</ion-item>
      <ion-item-options>
        <!-- button list -->
        <button class='button button-positive large_button' *ngIf="!recipe.favorite" ion-button color="secondary" (click)="addToFavorite(recipe)" item-right>
        <ion-icon name="heart" ></ion-icon></button>
        <button class='button button-positive large_button' *ngIf="recipe.favorite" ion-button color="secondary" (click)="removeFav(recipe)" item-right>
        <ion-icon name="md-close"></ion-icon></button>
          <button class='button button-positive large_button' ion-button color="primary" (click)="editRecipe(recipe)" item-right>
          <ion-icon name="build" ></ion-icon></button>
            <button class='button button-positive large_button' ion-button color="custom" (click)="deleteRecipe(recipe)" item-right>
            <ion-icon name="trash" ></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>
  </ion-grid>



  <ion-fab right bottom>
      <button color="custom1" ion-fab  (click)="addRecipe()" ><ion-icon name="add" ></ion-icon></button>
      <!-- <ion-fab-list side="left">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      </ion-fab-list> -->
    </ion-fab>





</ion-content>
