<!--
  Generated template for the Details page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title color="light">Recipe</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <!-- #################  part1  ############# -->

  <ion-item>
    <img src="{{imgUrl}}" style="width: 100%">
  </ion-item>
  <ion-grid>
    <ion-item [hidden]="disableEdit">
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Recipe Name</ion-label>
      <ion-input [disabled]="disableEdit" [(ngModel)]="recipe.name" type="text" value=""></ion-input>
    </ion-item>
    <ion-item class="categoryDropDown">
      <ion-label color="dark">Category</ion-label>
      <ion-select [disabled]="disableEdit" [(ngModel)]="recipe.category">
        <ion-option value="Appetizer">Appetizer</ion-option>
        <ion-option value="Main">Main</ion-option>
        <ion-option value="Dessert">Dessert</ion-option>
        <ion-option value="other">other</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Total Time</ion-label>
      <ion-input [disabled]="disableEdit" type="number" [(ngModel)]="recipe.time" placeholder="roughly minutes"></ion-input>
    </ion-item>
  </ion-grid>




  <!-- ############### part2 ################  -->
  <ion-grid>
    <ion-row>
       <ion-item>
           <h2 item-left>Ingredients</h2>
            <button item-right color="danger" ion-button (click)="popupAddingView(recipe)" [hidden]="disableEdit"><ion-icon name="add"  ></ion-icon></button>
       </ion-item>
     
      
      
       
      
    </ion-row>
    <ion-row>
      <ion-col col-8>
        <!-- Ingredients -->
        Name
      </ion-col>
      <ion-col col-2>
        <!-- Measure -->
        Measure
      </ion-col>
      <ion-col col-2>
        <!-- Unit -->
        Unit
      </ion-col>
       
    </ion-row>
 
 <ion-row *ngFor="let i  of recipe.ingredient">
     <ion-item>  
        <!-- Ingredients -->
        <ion-label> 
        {{ i.name }}
   
</ion-label>
    <ion-label> {{i.measure}}
     </ion-label>
        <!-- Measure -->
       
<ion-label> {{i.unit}}</ion-label>
    
        <!-- Unit -->
       
         <button item-right color="danger" ion-button (click)="deleteIngredient(i,recipe)" [hidden]="disableEdit"><ion-icon name="remove"  ></ion-icon></button>
      </ion-item>
 </ion-row>
    

  </ion-grid>




  <!-- ############ part3 ###########   -->
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-label color="dark">Description</ion-label>
        <ion-textarea color="dark" [disabled]="disableEdit" [(ngModel)]="recipe.description" placeholder="Your description"></ion-textarea>
        <!-- <ion-input type="text" [(ngModel)]="recipe.description" placeholder="your description"></ion-input> -->
      </ion-item>

    </ion-list>
  </ion-grid>



  <button *ngIf="!disableEdit" ion-button (click)="saveRecipe()">
    Save
  </button>

</ion-content>